<section id='flavors' class='section-padding bg-gradient-to-b from-dark to-darker relative'>
  <div class='absolute inset-0 bg-neuron-pattern opacity-5'></div>
  <div class='container-custom relative'>
    {% render 'section-title' %}

    <div class='grid md:grid-cols-3 gap-8 mb-16'>
      {% for block in section.blocks %}
        <a
          class='card h-full p-6 h-96 relative overflow-hidden fade-in border-citrus border border-opacity-30 hover:border-opacity-100 transition-all duration-500 is-visible style-vgU7q'
          id='style-vgU7q'
          href='{{ block.settings.card_link }}'
        >
          <div
            class='absolute inset-0 bg-gradient-to-t from-citrus/20 to-transparent opacity-30 transition-opacity duration-500 opacity-30'
          ></div>
          <div class='relative h-full flex flex-col'>
            <div class='mb-4'>
              <h3 class='text-white text-2xl font-bold'>{{ block.settings.card_title }}</h3>
              <p class='text-primary font-medium'>{{ block.settings.card_subtitle }}</p>
            </div>
            <div class='flex-grow mb-4'>
              <img
                class='h-full object-contain'
                alt='Card Icon'
                src='{{ block.settings.card_image | image_url }}'
              >
            </div>
            <div class='benefits-box mt-auto'>
              <div class='bg-dark/70 p-3 rounded-md'>
                {% assign benefits_string = block.settings.card_benefits | default: '' %}
                {% assign split_benefits = benefits_string | split: ',' %}

                {% for benefit in split_benefits %}
                  {% assign item = benefit | strip %}

                  {% if item != '' %}
                    <p class='text-light text-sm mb-1 last:mb-0'>{{ item }}</p>
                  {% endif %}
                {% endfor %}
              </div>
              <!--
                <div class='mt-3 flex items-center justify-between'>
                  <span class='text-xs text-light'>{{ block.settings.card_serving }}</span
                  ><span class='text-xs text-primary font-medium'>{{ block.settings.card_accent }}</span>
                </div>
              -->
            </div>
          </div>
        </a>
      {% endfor %}
    </div>

    <!--
      <div class='text-center fade-in is-visible'>
        <p class='text-light text-lg mb-8'>{{ section.settings.section_subtext }}</p>
        <a
          href='{{ cta_link | default: "#"}}'
          class='btn btn-mint px-8 py-4 text-lg font-bold hover:transform hover:scale-105 transition-transform'
          >Try All Three Flavors</a
        >
      </div>
    -->
  </div>
</section>

{% schema %}
{
  "name": "Flavor Experience",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section title",
      "default": "CHOOSE YOUR, COGNITIVE CATALYST"
    },
    {
      "type": "text",
      "id": "section_subtitle",
      "label": "Section subtitle",
      "default": "Science-backed formula designed for cognitive enhancement",
      "info": "Separate title with comma to split white & green text/new line"
    },
    {
      "type": "text",
      "id": "section_subtext",
      "label": "Section Subtext",
      "default": "Mix & match for your optimal cognitive routine throughout the day"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Button link"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "section_card",
      "name": "Section Card",
      "settings": [
        {
          "type": "url",
          "id": "card_link",
          "label": "Card Link"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title"
        },
        {
          "type": "text",
          "id": "card_subtitle",
          "label": "Card Subtitle"
        },
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "card_benefits",
          "label": "Flavor Benefits",
          "info": "Separate each key benefit by a comma"
        },
        {
          "type": "text",
          "id": "card_serving",
          "label": "Serving Info"
        },
        {
          "type": "text",
          "id": "card_accent",
          "label": "Card Accent"
        }
      ]
    }
  ]
}
{% endschema %}
