{% comment %}Header section{% endcomment %}

<header class='fixed top-0 left-0 right-0 bg-dark/90 backdrop-blur-md shadow-lg h-20 z-50'>
  <div class='container-custom flex items-center justify-between h-full'>
    {% render 'logo' %}

    <nav class='h-full hidden md:flex items-center space-x-6'>
      <div id='menu-item-learn' class='menu-item h-full items-center flex gap-2 group relative'>
        <a
          href='#'
          class='text-light group-hover:text-primary transition-colors h-full flex items-center'
          >Shop MindMix</a
        >
        <a href='/collections/menu-product' class='h-[24px] w-[24px] h-full flex items-center'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 16 16'
            role='presentation'
            class='h-full w-full text-light transition-colors transition-transform duration-300 group-hover:rotate-180 group-hover:text-primary'
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M2.183 5.183a.625.625 0 0 1 .884 0l4.827 4.828a.208.208 0 0 0 .295 0l4.827-4.828a.625.625 0 0 1 .884.884l-4.827 4.827c-.57.57-1.493.57-2.063 0L2.183 6.067a.625.625 0 0 1 0-.884Z"
              clip-rule="evenodd"
            />
          </svg>
        </a>

        {%- assign all_products = collections['all-products'] -%}
        {%- if all_products and all_products.products.size > 0 -%}
          <ul
            id='learn-more-menu'
            class='menu-dropdown absolute top-full left-1/2 -translate-x-1/2 hidden inline-block whitespace-nowrap px-4 py-3 bg-dark/90 backdrop-blur-md shadow-lg'
          >
            {%- for product in all_products.products -%}
              <li class='mb-2 text-light hover:text-primary transition-colors'>
                <a href='{{ product.url }}'>
                  {{ product.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>

      <div id='menu-item-learn' class='menu-item h-full items-center flex gap-2 group relative'>
        <a href='#' class='text-light group-hover:text-primary transition-colors h-full flex items-center'
          >Learn More</a
        >
        <a href='#' class='h-[24px] w-[24px] h-full flex items-center'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 16 16'
            role='presentation'
            class='h-full w-full text-light transition-colors transition-transform duration-300 group-hover:rotate-180 group-hover:text-primary'
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M2.183 5.183a.625.625 0 0 1 .884 0l4.827 4.828a.208.208 0 0 0 .295 0l4.827-4.828a.625.625 0 0 1 .884.884l-4.827 4.827c-.57.57-1.493.57-2.063 0L2.183 6.067a.625.625 0 0 1 0-.884Z"
              clip-rule="evenodd"
            />
          </svg>
        </a>

        <ul
          id='learn-more-menu'
          class='menu-dropdown absolute top-full left-1/2 -translate-x-1/2 hidden inline-block whitespace-nowrap px-4 py-3 bg-dark/90 backdrop-blur-md shadow-lg'
        >
          <li class='mb-2 text-light hover:text-primary transition-colors'>
            <a href='{{ routes.root_url }}#why-it-works'>Why It Works</a>
          </li>
          <li class='mb-2 text-light hover:text-primary transition-colors'>
            <a href='{{ routes.root_url }}#flavors'>Flavors</a>
          </li>
          <li class='mb-2 text-light hover:text-primary transition-colors'>
            <a href='{{ routes.root_url }}#benefits'>Benefits</a>
          </li>
          <li class='mb-0 text-light hover:text-primary transition-colors'>
            <a href='{{ routes.root_url }}#pricing'>Pricing</a>
          </li>
        </ul>
      </div>

      <!--
        {% if cart.item_count > 0 %}
          <a href='/cart' class='cart-icon cart-active text-primary hover:text-primary transition-colors'>
            {% render 'icon-shopping-cart' %}
            <p class='item-count items'>{{ cart.item_count }}</p>
          </a>
        {% else %}
          <a href='/cart' class='cart-icon cart-empty text-primary hover:text-primary transition-colors'>
            {% render 'icon-shopping-cart' %}
            <p class='item-count no-items'>{{ cart.item_count }}</p>
          </a>
        {% endif %}
      -->
      <a href='/cart' class='z-50 cart-icon text-primary hover:text-primary transition-colors'>
        {% render 'icon-shopping-cart' %}
        <p
          id='cart-count'
          class='item-count {% if cart.item_count > 0 %}items{% else %}no-items{% endif %}'
        >
          {{ cart.item_count }}
        </p>
      </a>

      {% if customer %}
        <div class='menu-item h-full flex items-center relative'>
          <a id='customer-menu-btn' href='{{ routes.account_url }}' class='account-icon logged-in'>
            {% render 'icon-account' %}
          </a>

          <ul
            id='learn-more-menu'
            class='menu-dropdown absolute top-full left-1/2 -translate-x-1/2 hidden inline-block whitespace-nowrap px-4 py-3 bg-dark/90 backdrop-blur-md shadow-lg'
          >
            <li class='mb-2 text-light hover:text-primary transition-colors'>
              <a href='{{ routes.account_url }}'>Dashboard</a>
            </li>
            <li class='mb-2 text-light hover:text-primary transition-colors'>
              <a href='{{ routes.account_addresses_url }}'>Addresses</a>
            </li>
            <li class='mb-0 text-light hover:text-primary transition-colors'>
              <a href='{{ routes.account_logout_url }}'>Log Out</a>
            </li>
          </ul>
        </div>
      {% else %}
        <div class='menu-item h-full flex items-center relative'>
          <a
            id='customer-menu-btn'
            href='#'
            class='account-icon logged-out'
          >
            {% render 'icon-account' %}
          </a>

          <ul
            id='learn-more-menu'
            class='menu-dropdown absolute top-full left-1/2 -translate-x-1/2 hidden inline-block whitespace-nowrap px-4 py-3 bg-dark/90 backdrop-blur-md shadow-lg'
          >
            <li class='mb-2 text-light hover:text-primary transition-colors'>
              <a href='{{ routes.account_login_url }}?return_url={{ request.path | url_encode }}'>Sign In</a>
            </li>
            <li class='mb-2 text-light hover:text-primary transition-colors'>
              <a href='{{ routes.account_register_url }}?return_url={{ request.path | url_encode }}'>Sign Up</a>
            </li>
          </ul>
        </div>
      {% endif %}
    </nav>

    <!-- BEGIN MOBILE MENU -->
    <div class='relative flex gap-6 md:hidden'>
      <!--
        {% if cart.item_count > 0 %}
          <a href='/cart' class='z-50 cart-icon cart-active text-primary hover:text-primary transition-colors'>
            {% render 'icon-shopping-cart' %}
            <p id='cart-count' class='item-count items'>{{ cart.item_count }}</p>
          </a>
        {% else %}
          <a href='/cart' class='z-50 cart-icon cart-empty text-primary hover:text-primary transition-colors'>
            {% render 'icon-shopping-cart' %}
            <p class='item-count no-items'>{{ cart.item_count }}</p>
          </a>
        {% endif %}
      -->

      <a href='/cart' class='z-50 cart-icon text-primary hover:text-primary transition-colors'>
        {% render 'icon-shopping-cart' %}
        <p
          id='cart-count'
          class='item-count {% if cart.item_count > 0 %}items{% else %}no-items{% endif %}'
        >
          {{ cart.item_count }}
        </p>
      </a>

      <button id='menu-hamburger' class='z-50 md:hidden text-light hover:text-primary' onclick='toggleMobileMenu()'>
        <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>

  <div
    id='mobile-menu'
    class='fixed h-screen inset-0 hidden md:hidden bg-darker pt-20 pb-24 px-4 shadow-lg overflow-y-auto'
  >
    <nav class='flex flex-col space-y-4'>
      <ul>
        <li class='border-b border-white py-4 px-4'>
          <button
            class='toggle-list-btn w-full h-[42px] flex justify-between items-center group'
          >
            <span class='text-3xl text-semibold transition-colors'>Shop MindMix</span>
            <svg
              class='expandable-list-arrow h-full w-auto text-3xl text-semibold transition-colors transition-transform duration-300'
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 16 16'
              role='presentation'
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M2.183 5.183a.625.625 0 0 1 .884 0l4.827 4.828a.208.208 0 0 0 .295 0l4.827-4.828a.625.625 0 0 1 .884.884l-4.827 4.827c-.57.57-1.493.57-2.063 0L2.183 6.067a.625.625 0 0 1 0-.884Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          {%- assign menu_product = collections['all-products'] -%}
          {%- if menu_product and menu_product.products.size > 0 -%}
            <ul class='expandable-list max-h-0 pt-4 overflow-hidden transition-all duration-300'>
              {%- for product in menu_product.products -%}
                <li class='text-2xl mb-3 text-primary transition-colors'>
                  <a href='{{ product.url }}'>
                    {{ product.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {% endif %}
        </li>
        <li class='border-b border-white py-4 px-4'>
          <button
            class='toggle-list-btn w-full h-[42px] flex justify-between items-center group'
          >
            <span class='text-3xl text-semibold transition-colors'>Learn More</span>
            <svg
              class='expandable-list-arrow h-full w-auto text-3xl text-semibold transition-colors transition-transform duration-300'
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 16 16'
              role='presentation'
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M2.183 5.183a.625.625 0 0 1 .884 0l4.827 4.828a.208.208 0 0 0 .295 0l4.827-4.828a.625.625 0 0 1 .884.884l-4.827 4.827c-.57.57-1.493.57-2.063 0L2.183 6.067a.625.625 0 0 1 0-.884Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>

          <ul class='expandable-list max-h-0 pt-4 overflow-hidden transition-all duration-300'>
            <li class='text-2xl mb-3 text-primary transition-colors'><a href='#why-it-works'>Why It Works</a></li>
            <li class='text-2xl mb-3 text-primary transition-colors'><a href='#flavors'>Flavors</a></li>
            <li class='text-2xl mb-3 text-primary transition-colors'><a href='#benefits'>Benefits</a></li>
            <li class='text-2xl mb-3 text-primary transition-colors'><a href='#pricing'>Pricing</a></li>
          </ul>
        </li>
        <li class='border-b border-white py-4 px-4'>
          <button
            class='toggle-list-btn w-full h-[42px] flex justify-between items-center group'
          >
            <span class='text-3xl text-semibold transition-colors'>Account</span>
            {% if customer %}
              <span class='account-icon logged-in'>{% render 'icon-account' %}</span>
            {% else %}
              <span class='account-icon logged-out'>{% render 'icon-account' %}</span>
            {% endif %}
          </button>

          <ul class='list-expanded expandable-list max-h-0 pt-4 overflow-hidden transition-all duration-300'>
            {% if customer %}
              <li class='text-2xl mb-3 text-primary transition-colors'>
                <a href='{{ routes.account_url }}'>Dashboard</a>
              </li>
              <li class='text-2xl mb-3 text-primary transition-colors'>
                <a href='{{ routes.account_logout_url }}'>Log Out</a>
              </li>
            {% else %}
              <li class='text-2xl mb-3 text-primary transition-colors'>
                <a href='{{ routes.account_login_url }}?return_url={{ request.path | url_encode }}'>Sign In</a>
              </li>
              <li class='text-2xl mb-3 text-primary transition-colors'>
                <a href='{{ routes.account_register_url }}?return_url={{ request.path | url_encode }}'>Sign Up</a>
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "select",
      "id": "logo_variant",
      "label": "Logo color",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "brand_color",
          "label": "Brand color"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuItems = document.querySelectorAll('.menu-item');

    menuItems.forEach((item) => {
      const dropdown = item.querySelector('.menu-dropdown');
      if (!dropdown) return; // skip if no dropdown found
      let hoverTimeout;

      // Show dropdown
      item.addEventListener('mouseenter', () => {
        clearTimeout(hoverTimeout);
        item.classList.add('active');
        dropdown.classList.remove('hidden');
      });

      // Hide dropdown
      item.addEventListener('mouseleave', () => {
        hoverTimeout = setTimeout(() => {
          item.classList.remove('active');
          dropdown.classList.add('hidden');
        }, 150);
      });

      // Close dropdown when a link inside is clicked
      dropdown.querySelectorAll('a').forEach((link) => {
        link.addEventListener('click', () => {
          item.classList.remove('active');
          dropdown.classList.add('hidden');
        });
      });
    });
  });

  document.querySelectorAll('.toggle-list-btn').forEach((btn) => {
    btn.addEventListener('click', () => {
      const list = btn.nextElementSibling; // finds the <ul> right after the button
      const arrow = btn.querySelector('.expandable-list-arrow'); // finds the arrow inside this button

      if (!list.classList.contains('list-expanded')) {
        const fullHeight = list.scrollHeight;
        list.style.maxHeight = fullHeight + 'px';
        list.classList.add('list-expanded');
        if (arrow) arrow.classList.add('rotate-180');
      } else {
        list.style.maxHeight = '0px';
        list.classList.remove('list-expanded');
        if (arrow) arrow.classList.remove('rotate-180');
      }
    });
  });

  function toggleMobileMenu() {
    const mobileMenu = document.getElementById('mobile-menu');

    const isHidden = mobileMenu.classList.contains('hidden');
    if (isHidden) {
      mobileMenu.classList.remove('hidden');
      document.body.classList.add('overflow-hidden');
    } else {
      mobileMenu.classList.add('hidden');
      document.body.classList.remove('overflow-hidden');
    }
  }

  // Close menu when clicking a link
  document.addEventListener('DOMContentLoaded', function () {
    const mobileMenu = document.getElementById('mobile-menu');
    const mobileLinks = mobileMenu.querySelectorAll('a');
    for (let link of mobileLinks) {
      link.addEventListener('click', function () {
        mobileMenu.classList.add('hidden');
        document.body.classList.remove('overflow-hidden');
      });
    }
  });
</script>
