<!-- Product Info -->
<section id='shopify-section-product-info' class='bg-light py-16'>
  <div class='container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center'>
    <img
      src='{{ section.settings.image | img_url: "800x" }}'
      alt='{{ section.settings.image.alt }}'
      class='rounded shadow-lg'
    >

    {% assign heading_parts = section.settings.heading | split: ';' %}
    <h2 class='text-white mb-4'>
      {{ heading_parts[0] }}
      {% if heading_parts.size > 1 %}
        <span class='text-primary'>{{ heading_parts[1] | strip }}</span>
      {% endif %}
    </h2>
    <p class='text-light text-base md:text-xl px-4 mb-8'>{{ section.settings.text }}</p>
  </div>
</section>
{% schema %}
{
  "name": "Product Info",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Why Customers Love This Product"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    }
  ]
}
{% endschema %}
