<div class='terms-temp container-custom py-24'>
  <!-- DEBUG PAGE.TERMS.LIQUID -->
  <div class='blog-hero h-[40vh]'>
    <div
      class='hero-bg w-full h-full bg-cover bg-center'
      style="background-image: url('{{ section.settings.image | image_url: width:2000 }}');"
    >
      <div class='hero-inner flex items-center justify-center h-full'>
        <h1 class='relative z-50 text-primary text-6xl font-bold'>
          <!-- {{ section.settings.legal_title }} -->
          {{ page.title }}
        </h1>
      </div>
    </div>
  </div>
  <main class='w-full sm:max-w-[75vw] xl:max-w-[50vw] mx-[auto]'>
    <h1 class='pt-[36px] pb-1 text-inter text-bold text-4xl'>{{ page.title }}</h1>
    <div class='blog-content py-[36px] w-full font-inter text-base'>
      {{ page.content }}
    </div>
  </main>
</div>
